.form {
  border-radius: 3px;
  text-align: center;
  margin-top: 50px;
  padding: 30px 40px;
  background-color: rgba(255,255,255, .7);
  box-shadow: 5px 5px 15px 5px limegreen;
}

body {
  justify-content: center;
  align-items: center;
  display: flex;
}

.button {
    margin: 20px;
    background: rgb(148, 243, 4);
    font-size: large;
    color: black;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 35px;
    margin-top: 40px;
    cursor: pointer;
}

.button:hover {
    color: white;
    box-shadow: 0 10px 25px rgba(22, 100, 8, .6);
}

.button:disabled{
    background-color: grey;
}

.inputs {
    height: 35px;
    width: 98%;
    font-size: 25px;
    font-family: inherit;
}

.labels {
    font-size: 20px;
    display: block;
    font-weight: bold;
    font-style: italic;
    margin-block: 15px
}

.warningError {
    color: red
}

.selectors {
    height: 45px;
    width: 98%;
    font-size: 25px;
    font-family: inherit;
}

.buttonReset {
    background: rgb(148, 243, 4);
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.buttonReset:hover {
    color: white;
    box-shadow: 0 10px 25px rgba(22, 100, 8, .6);
}
