.container {
    text-align: center;
    border-radius: 5px;
    border: 5px;
    /* background-image: url("../resources/images/bg_black.jpg"); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: large;
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0.7);
}

.image {
    border-radius: 5px;
}

.buttonBack {
    background: rgb(148, 243, 4);
    font-size: large;
    color: black;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 35px;
    margin-top: 20px;
    cursor: pointer;
}

.buttonBack:hover {
    color: white;
    box-shadow: 0 10px 25px rgba(22, 100, 8, .6);
}