body {
    background-image: url("../resources/images/bg.jpg");
}

.title {
    font-family: revert;
    margin-block: revert;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: center;
    font-size: xxx-large;
}

.subtitles {
    display: flex;
    font-style: italic;
    font-weight: 900;
    padding: 10px;
    font-size: 25px;
    margin: 20px;
}

.filters {
    display: flex;
    justify-content: space-around;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.selectors {
    height: 35px;
    width: 98%;
    font-size: 20px;
    font-family: inherit;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(185, 223, 130, 0.795);
}

.pic {
    margin-left: 50px;
    margin-top: 10px;
}


